html {
  display: flex;
  flex-direction: column;
}

#large-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#search-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  padding: 1%;
  margin: 1% 0px 0px 0px;
}

#search-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#search-input {
  width: 100%;
  margin: 1%;
  border-color: rgb(90, 90, 90);
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  padding: 1%;
}

#search-button-holder {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

#search-button-holder button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  width: 70px;
  background-color: rgb(235, 235, 235);
  border-color: rgb(235, 235, 235);
  cursor: pointer;
}

#search-button-holder button:hover {
  background-color: rgb(247, 247, 247);
  border-color: rgb(235, 235, 235);
}

#result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  padding: 0px 0px 0px 0px;
  margin: 1% 0px 0px 0px;
}
